<div class="col-sm-12">
  <h1 class="page-title">Events - <span class="fw-semi-bold">Feed</span></h1>
  <ul class="timeline my-time-line">
    <li>
      <time class="event-time time-left" datetime="2014-05-19 03:04">
        <span class="date">today</span>
        <span class="time">9:41 <span class="fw-semi-bold">am</span></span>
      </time>
                <span class="event-icon event-icon-jobs-flyer icon-msg">
                    <i class="glyphicon glyphicon-comment"></i>
                </span>
      <section class="event">
                    <span class="thumb-sm avatar pull-left mr-sm">
                        <img class="img-circle" src="/assets/avatar-84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe.png" alt="...">
                    </span>
        <h4 class="event-heading"><a href="#">Bob Nilson</a> <small><a href="#">@nils</a></small></h4>
        <p class="fs-sm text-muted">February 22, 2014 at 01:59 PM</p>
        <p class="fs-mini">
          There is no such thing as maturity. There is instead an ever-evolving process of maturing.
          Because when there is a maturity, there is ...
        </p>
        <footer>
          <ul class="post-links">
            <li><a href="#">1 hour</a></li>
            <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
          </ul>
        </footer>
      </section>
    </li>
    <li>
      <time class="event-time time-left" datetime="2014-05-19 03:04">
        <span class="date">today</span>
        <span class="time">9:41 <span class="fw-semi-bold">am</span></span>
      </time>
                <span class="event-icon event-icon-jobs-flyer icon-msg">
                    <i class="glyphicon glyphicon-comment"></i>
                </span>
      <section class="event">
                    <span class="thumb-sm avatar pull-left mr-sm">
                        <img class="img-circle" src="/assets/avatar-84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe.png" alt="...">
                    </span>
        <h4 class="event-heading"><a href="#">Bob Nilson</a> <small><a href="#">@nils</a></small></h4>
        <p class="fs-sm text-muted">February 22, 2014 at 01:59 PM</p>
        <p class="fs-mini">
          There is no such thing as maturity. There is instead an ever-evolving process of maturing.
          Because when there is a maturity, there is ...
        </p>
        <footer>
          <ul class="post-links">
            <li><a href="#">1 hour</a></li>
            <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
          </ul>
        </footer>
      </section>
    </li>
    <li>
      <time class="event-time time-left" datetime="2014-05-19 03:04">
        <span class="date">today</span>
        <span class="time">9:41 <span class="fw-semi-bold">am</span></span>
      </time>
                <span class="event-icon event-icon-jobs-flyer icon-msg">
                    <i class="glyphicon glyphicon-comment"></i>
                </span>
      <section class="event">
                    <span class="thumb-sm avatar pull-left mr-sm">
                        <img class="img-circle" src="/assets/avatar-84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe.png" alt="...">
                    </span>
        <h4 class="event-heading"><a href="#">Bob Nilson</a> <small><a href="#">@nils</a></small></h4>
        <p class="fs-sm text-muted">February 22, 2014 at 01:59 PM</p>
        <p class="fs-mini">
          There is no such thing as maturity. There is instead an ever-evolving process of maturing.
          Because when there is a maturity, there is ...
        </p>
        <footer>
          <ul class="post-links">
            <li><a href="#">1 hour</a></li>
            <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
          </ul>
        </footer>
      </section>
    </li>
    <li>
      <time class="event-time time-left" datetime="2014-05-19 03:04">
        <span class="date">today</span>
        <span class="time">9:41 <span class="fw-semi-bold">am</span></span>
      </time>
                <span class="event-icon event-icon-jobs-flyer icon-msg">
                    <i class="glyphicon glyphicon-comment"></i>
                </span>
      <section class="event">
                    <span class="thumb-sm avatar pull-left mr-sm">
                        <img class="img-circle" src="/assets/avatar-84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe.png" alt="...">
                    </span>
        <h4 class="event-heading"><a href="#">Bob Nilson</a> <small><a href="#">@nils</a></small></h4>
        <p class="fs-sm text-muted">February 22, 2014 at 01:59 PM</p>
        <p class="fs-mini">
          There is no such thing as maturity. There is instead an ever-evolving process of maturing.
          Because when there is a maturity, there is ...
        </p>
        <footer>
          <ul class="post-links">
            <li><a href="#">1 hour</a></li>
            <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
          </ul>
        </footer>
      </section>
    </li>
  </ul>
</div>