<div class="col-md-12">
  <section class="widget widget-chart-stats-simple">
    <header>
      <h5 class="mb-0">
        <span class="fw-semi-bold">Budget</span> <span class="badge bg-danger">2017</span>
      </h5>
      <span class="text-muted fs-mini">monthly report will be available in <a href="#">6 hours</a></span>
      <div class="widget-controls">
        <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
      </div>
    </header>
    <div class="widget-body">
      <div class="chart-stats">
        <div class="row">
          <div class="col-sm-5">
            <div class="clearfix">
              <h6 class="pull-left text-muted mb-xs">
                Income
              </h6>
              <p class="pull-right h5 mb-xs">
                <span class="fw-semi-bold">$14,595</span>
              </p>
            </div>
            <div class="clearfix">
              <h6 class="pull-left no-margin text-muted">
                Recent
              </h6>
              <p class="pull-right">
                <span class="fw-semi-bold">$7,647</span>
              </p>
            </div>
          </div>
          <div class="col-sm-3 text-align-right">
            <h6 class="text-muted mb-xs">Inqueries</h6>
            <p class="fw-semi-bold">73 at 14am</p>
          </div>
          <div class="col-sm-4 text-align-right">
            <h6 class="text-muted mb-xs">Last Updated</h6>
            <p class="fw-semi-bold">23.06.2013</p>
          </div>
        </div>
      </div>
      <div class="chart bg-body-light">
        <div id="chart-stats-simple-2" class="chart-inner"></div>
      </div>
    </div>
  </section>
</div>