<div class="col-md-6 col-sm-6">
  <section class="widget bg-primary text-white">
    <div class="widget-body clearfix">
      <div class="row">
        <div class="col-xs-3">
                                <span class="widget-icon">
                                    <i class="glyphicon glyphicon-globe"></i>
                                </span>
        </div>
        <div class="col-xs-9">
          <h5 class="no-margin">USERS GROWTH</h5>
          <p class="h2 no-margin fw-normal">4,332</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <h5 class="no-margin">Registrations</h5>
          <p class="value4">+830</p>
        </div>
        <div class="col-xs-6">
          <h5 class="no-margin">Bounce Rate</h5>
          <p class="value4">4.5%</p>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="col-md-6 col-sm-6">
  <section class="widget bg-info text-white">
    <div class="widget-body clearfix">
      <div class="row">
        <div class="col-xs-3">
                                <span class="widget-icon">
                                    <i class="glyphicon glyphicon-globe"></i>
                                </span>
        </div>
        <div class="col-xs-9">
          <h5 class="no-margin">USERS GROWTH</h5>
          <p class="h2 no-margin fw-normal">4,332</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <h5 class="no-margin">Registrations</h5>
          <p class="value4">+830</p>
        </div>
        <div class="col-xs-6">
          <h5 class="no-margin">Bounce Rate</h5>
          <p class="value4">4.5%</p>
        </div>
      </div>
    </div>
  </section>
</div>