<%= render partial: 'dashboard/company_filter_form' %>

<h3>All Companies</h3>

<div class="filtered-companies-widget">
  <%= render partial: 'dashboard/filtered_companies', locals: {:companies => @companies} %>
</div>

<script>
  $('#search-company-location-input').tokenInput('/dashboard/all_job_locations.json', {
    crossDomain: false,
    tokenLimit: 1
  });
</script>