$('#money-calculate-1').html('<span class="badge"><%= @normal_price %></span> <p>calculated normal job cost</p>')
$('#money-calculate-2').html('<span class="badge"><%= @feature_price %></span> <p>calculated feature job cost</p>')
$('#money-calculate-3').html('<span class="badge"><%= @month_price %></span> <p>calculated search resume cost</p>')
$('#total-calculated-money').html('<h4 class="pull-right"><%= @total_price %></h4>')