<!--Input for job age range -->
<div class="form-group">
  <label for="prepended-input" class="col-sm-4 control-label">Choose age range
    <span class="help-block">Choose age requirement</span>
  </label>

  <div class="col-sm-8">
    <div class="input-group">
      <%= f.text_field :age_range, id: 'age-range', type: 'text', class: 'span2',
                       data: {'slider-min' => '15',
                              'slider-max' => '50',
                              'slider-step' => '1',
                              'slider-value' => @job.age_range.present? ? range_values(@job.age_range) : '[22, 35]' } %>
    </div>
  </div>
</div>

<!--Input for job age range -->
<div class="form-group">
  <label for="prepended-input" class="col-sm-4 control-label">Choose experience range
    <span class="help-block">Choose experience requirement</span>
  </label>

  <div class="col-sm-8">
    <div class="input-group">
      <%= f.text_field :experience_range, id: 'experience-range', type: 'text', class: 'span2',
                       data: {'slider-min' => '0',
                              'slider-max' => '10',
                              'slider-step' => '1',
                              'slider-value' => @job.experience_range.present? ? range_values(@job.experience_range) : '[1, 3]' } %>
    </div>
  </div>
</div>

