<div class="sc-links-my pull-left left-sc-box">
  <div>
    <a href="https://www.facebook.com/johndoe">
      <i class="fa fa-facebook-square c-blue"></i>
    </a>      </div>

  <div>
    <a href="https://www.twitter.com/johndoe">
      <i class="fa fa-twitter-square c-sky"></i>
    </a>      </div>

  <div>
    <a href="https://www.linkedin.com/johndoe">
      <i class="fa fa-linkedin-square c-in"></i>
    </a>      </div>

  <div>
    <a href="https://www.gmail.com/johndoe">
      <i class="fa fa-google-plus-square c-red"></i>
    </a>      </div>
</div>
