<footer class="page-footer text-center">
  <ul class="footer-list">
    <li><a href="">Menu List</a></li>
    <li>|</li>
    <li><a href="">Menu List</a></li>
    <li>|</li>
    <li><a href="">Menu List</a></li>
    <li>|</li>
    <li><a href="">Menu List</a></li>
    <li>|</li>
    <li><a href="">Menu List</a></li>
  </ul>
  2015 &copy; JobsFlyer. Let the right job find you.
</footer>