<div class="container  top-margin-space">
  <ol class="breadcrumb">
    <li class="active">FAQ</li>

  </ol>
</div>
<div class="container white-space  ">
  <header>

  </header>
  <div class="widget-body ">
    <div class="row">
      <div class="col-md-12">
        <h4>Layout options</h4>
        <p class="text-justify">There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:</p>

      </div>
      <div class="col-md-12">
        <h4>Layout options</h4>
        <p class="text-justify">There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:</p>

      </div>
      <div class="col-md-12">
        <h4>Layout options</h4>
        <p class="text-justify">There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:</p>

      </div>
      <div class="col-md-12">
        <h4>Layout options</h4>
        <p class="text-justify">There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:There are few position options available for notifications. You can click any of them
          to change notifications position:</p>

      </div>


    </div>
  </div>
</div>