<%= form_for(@company, :html => {:class => 'form-horizontal', multipart: true}) do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => {:obj => f.object} %>
  <div class="row mb-lg">
    <div class="col-md-12">
      <div class="clearfix">
        <ul id="tabs1" class="nav nav-tabs pull-left"> <!-- remove pull-left to get a cool effect too -->
          <li class="active"><a href="#tab1" data-toggle="tab">Basic</a></li>
          <li class=""><a href="#tab2" data-toggle="tab">Locations</a></li>
          <li class=""><a href="#tab3" data-toggle="tab">Admin Roles</a></li>
        </ul>
      </div>
      <div id="tabs1c" class="tab-content mb-lg">
        <div class="tab-pane active clearfix" id="tab1">
          <%= render :partial => 'companies/basic_company_info', locals: {:f => f} %>
        </div>
        <div class="tab-pane" id="tab2">
          <p>Why don't use Lore Ipsum? I think if some one says don't use lore ipsum it's very controversial
            point. I think the opposite actually. Everyone knows what is lore ipsum - it is easy to understand if text is lore ipsum.</p>
        </div>
        <div class="tab-pane" id="tab3">
          <p> If you will think too much it will sink in the swamp of never implemented plans and
            ideas or will just go away or will be implemented by someone else.</p>
          <p><strong>5 months of doing everything to achieve nothing.</strong></p>
          <p>You'll automatically skip - because you know - it's just non-informative stub. But what if there some text like this one?</p>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-7">
        <button class="btn btn-primary" type="submit">Save Changes</button>
        <button class="btn btn-inverse" type="button">Cancel</button>
      </div>
    </div>
  </div>
<% end %>
