<%= form_for(@company) do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => {:obj => f.object} %>
  <div class="row mb-lg">
    <div class="col-md-12">
      <div class="tabbable tabs-left mb-lg">
        <ul id="tabs2" class="nav nav-tabs">
          <li class=""><a href="#tab12" data-toggle="tab">Basic</a></li>
          <li class="active"><a href="#tab22" data-toggle="tab">Locations</a></li>
          <li class=""><a href="#tab32" data-toggle="tab">Admin Roles</a></li>
        </ul>
        <div id="tabs2c" class="tab-content">
          <div class="tab-pane" id="tab12">
            <p>
              I had an idea named Great Work. It was a service aimed to help people find their passion.
              Yes I know it sound crazy and super naïve but I worked on that. I started to work on
              planning, graphics, presentations, pictures, descriptions, articles, investments and so on.
              I worked on everything but not the project itself.
            </p>
          </div>
          <div class="tab-pane active" id="tab22">
            <p>Why don't use Lore Ipsum? I think if some one says don't use lore ipsum it's very controversial
              point. I think the opposite actually. Everyone knows what is lore ipsum - it is easy to understand if
              text is lore ipsum.</p>

            <div class="clearfix">
              <div class="btn-toolbar">
                <a class="btn btn-danger" href="#">&nbsp;&nbsp;Check&nbsp;&nbsp;</a>
                <a class="btn btn-default" href="#">&nbsp;&nbsp;Dance?&nbsp;&nbsp;</a>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab32">
            <p> If you will think too much it will sink in the swamp of never implemented plans and
              ideas or will just go away or will be implemented by someone else.</p>

            <p><strong>5 months of doing everything to achieve nothing.</strong></p>

            <p>You'll automatically skip - because you know - it's just non-informative stub. But what if there some
              text like this one?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
