@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local("Open Sans Light"),local("OpenSans-Light"),url(/assets/open-sans-light.woff) format("woff")}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local("Open Sans"),local("OpenSans"),url(/assets/open-sans.woff) format("woff")}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local("Open Sans Semibold"),local("OpenSans-Semibold"),url(/assets/open-sans-semibold.woff) format("woff")}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local("Open Sans Bold"),local("OpenSans-Bold"),url(/assets/open-sans-bold.woff) format("woff")}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:300;src:local("Open Sans Light Italic"),local("OpenSansLight-Italic"),url(/assets/open-sans-light-italic.woff) format("woff")}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:400;src:local("Open Sans Italic"),local("OpenSans-Italic"),url(/assets/open-sans-italic.woff) format("woff")}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:600;src:local("Open Sans Semibold Italic"),local("OpenSans-SemiboldItalic"),url(/assets/open-sans-semibold-italic.woff) format("woff")}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:700;src:local("Open Sans Bold Italic"),local("OpenSans-BoldItalic"),url(/assets/open-sans-bold-italic.woff) format("woff")}
.profiles{
  #uploaded-profile-image{
    border-radius: 100px;
    width: 85px;
    height: 85px;
  }
  #profile-image{
    cursor: pointer;
  }
  #profile-image{
    border: none;
  }
}
.companies .row.mb-lg{
  #company-logo, #company-banner{
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
  }
  #uploaded-company-banner{
    width: 100%;
    height: 250px;
  }
  #uploaded-company-logo{
    width: 70%;
  }
  #web-address-uniqueness{
    margin-top: 25px;
  }
}
.companies.index{
  .widget-body .text-light.mb a{
    color: #ffffff;
    font-weight: normal;
    &:hover{ font-weight: bold; text-decoration: none}
  }
}
.companies{
  .company-admin-roles{
    .remove_fields{
      margin-bottom: 15px;
    }
  }
  .branch-locations.nested-fields{
    .remove_fields{
      margin-bottom: 15px;
    }
  }
}

.companies.show{
  .company-banner{width: 100% }
  .company-description{
    text-align: justify;
  }
}
.subscriptions{
  .list-group-item{
    border: none;
  }
}