@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local("Open Sans Light"),local("OpenSans-Light"),url(/assets/open-sans-light.woff) format("woff")}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local("Open Sans"),local("OpenSans"),url(/assets/open-sans.woff) format("woff")}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local("Open Sans Semibold"),local("OpenSans-Semibold"),url(/assets/open-sans-semibold.woff) format("woff")}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local("Open Sans Bold"),local("OpenSans-Bold"),url(/assets/open-sans-bold.woff) format("woff")}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:300;src:local("Open Sans Light Italic"),local("OpenSansLight-Italic"),url(/assets/open-sans-light-italic.woff) format("woff")}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:400;src:local("Open Sans Italic"),local("OpenSans-Italic"),url(/assets/open-sans-italic.woff) format("woff")}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:600;src:local("Open Sans Semibold Italic"),local("OpenSans-SemiboldItalic"),url(/assets/open-sans-semibold-italic.woff) format("woff")}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:700;src:local("Open Sans Bold Italic"),local("OpenSans-BoldItalic"),url(/assets/open-sans-bold-italic.woff) format("woff")}
a:focus,a:hover,a:active,a:after,a:link,.btn:hover,.btn:focus,.btn:link { outline: none; }
.profiles{
  #uploaded-profile-image{
    border-radius: 100px;
    width: 85px;
    height: 85px;
  }
  #profile-image{
    cursor: pointer;
  }
  #profile-image{
    border: none;
  }
}
.companies .row.mb-lg{
  #company-logo, #company-banner{
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
  }
  #uploaded-company-banner{
    width: 100%;
    height: 250px;
  }
  #uploaded-company-logo{
    width: 70%;
  }
  #web-address-uniqueness{
    margin-top: 25px;
  }
}
.companies.index{
  .widget-body .text-light.mb a{
    color: #ffffff;
    font-weight: normal;
    &:hover{ font-weight: bold; text-decoration: none}
  }
}
.companies{
  .company-admin-roles{
    .remove_fields{
      margin-bottom: 15px;
    }
  }
  .branch-locations.nested-fields{
    .remove_fields{
      margin-bottom: 15px;
    }
  }
}

.companies.show{
  .company-banner{width: 100% }
  .company-description{
    text-align: justify;
  }
}
.subscriptions{
  .list-group-item{
    border: none;
    p{
      margin-bottom: 0px;
    }
  }
}
.jobs{
  .input-group{
    width: 100%;
  }
  .slider.slider-horizontal{
    width: 100%;
  }
  .search-result-item-body .value3{font-size: 14px}
  &.show{
    .widget-body{ margin-top: 35px}
    body{color: #000}
  }
}
.custom-margin-wrapper-bottom{
  margin-bottom: 15px;
}
.custom-margin-wrapper-top{
  margin-top: 15px;
}
.custom-margin-wrapper-left{
  margin-left: 15px;
}
.custom-margin-wrapper-right{
  margin-right: 15px;
}
.all_companies .widget-body .text-light.mb a {
  color: #ffffff;
  font-weight: normal;
  &:hover{
    font-weight: bold;
    text-decoration: none;
  }
}
.navbar-fixed-top{
  position: fixed;
}
.btn-jobsflyer{
  background-color: #f2be35;
  border-color: #f2be35;
  color: #242424;
  padding-bottom: 7px;
  padding-top: 7px;
  margin-top: -22px;
}
.btn-jobsflyer:hover,.btn-jobsflyer:focus,.btn-jobsflyer:focus{ background-color: #F2BE35;}

.jobs.show{
  .left-sc-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 38%;
    width: auto;
    i{
      font-size: 18px;
    }
  }
}

.widget-email{
  .nav-email-folders > li > a {
    color: #777;
    font-weight: 400;
  }
  .nav-email-folders > li > a:hover {
    background-color: #e5e5e5;
    color: #555555;
  }
  .nav-email-folders > li > a > .glyphicon {
    margin-right: 5px;
  }
  .nav-email-folders > li > a > .fa-circle {
    margin-top: 3px;
  }
  .nav-email-folders > li > a > .badge {
    background-color: #dd5826;
  }
  .nav-email-folders > li.active > a, .nav-email-folders > li.active > a:hover, .nav-email-folders > li.active > a:focus {
    background-color: #ddd;
    color: #555555;
    font-weight: 600;
  }
  .nav-email-folders > li.active > a > .badge, .nav-email-folders > li.active > a:hover > .badge, .nav-email-folders > li.active > a:focus > .badge {
    color: #555555;
  }

  .widget-email-count {
    display: inline-block;
    margin: 0;
    font-size: 13px;
    color: #999999;
    line-height: 29px;
  }
  .widget-email-count + .widget-email-pagination {
    margin-left: 10px;
    border-left: 1px solid #ddd;
    padding-left: 15px;
    border-radius: 0;
    vertical-align: -9px;
  }

  .widget-email-pagination {
    margin: 0;
  }

  .table-emails {
    margin-bottom: 0;
  }
  .table-emails td > .checkbox,
  .table-emails th > .checkbox {
    top: -9px;
  }
  .table-emails .name,
  .table-emails .subject,
  .table-emails .date {
    cursor: pointer;
  }
  .table-emails .date {
    text-align: right;
    min-width: 65px;
  }
  .table-emails .unread {
    font-weight: 600;
    color: #555555;
  }
  .table-emails .starred {
    color: #999999;
    cursor: pointer;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
  }
  .table-emails .starred:hover {
    color: #555555;
  }
  .table-emails .starred .fa-star {
    color: #f0b518;
  }

  .email-view hr {
    margin: 5px 0;
  }
  .email-view .email-body {
    margin-top: 20px;
  }

  .email-details img {
    width: 30px;
    height: 30px;
    float: left;
  }

  .email-details-content:before, .email-details-content:after {
    content: " ";
    display: table;
  }
  .email-details-content:after {
    clear: both;
  }
  .email-details-content .email {
    color: #999999;
    font-size: 13px;
  }
  .email-details-content .receiver {
    display: block;
    color: #999999;
    margin-top: -6px;
  }
  .email-details-content .email-date {
    margin-right: 10px;
    line-height: 24px;
    vertical-align: middle;
  }

  .email-attachments .attachment img {
    display: block;
  }
  .email-attachments .attachment .title {
    margin: 0;
    font-weight: bold;
  }
}
.advance_search.search, .resume_search{
  ul.token-input-list{width: 260px}
}
.home.index .navbar-brand{padding-top: 10px}
#myModal18 .modal-backdrop{
  z-index: 0;
}

.timeline {
  .time-left{width: auto;}
  .icon-msg{left: 18%;}

}


.my-time-line::before{left: 0% ;background: 0;}

.my-time-line {
  .event{width: 100% !important;}
  .event-icon-jobs-flyer{background: #f2be35;border-color: #E5B432;color: #fff;}
}
.timeline > li.on-left .event::before{border-left: none;}


.search{
  .value3{font-size: 14px}
}


.search-jobs-flyer ul.token-input-list{width:auto !important;border: 1px solid #ccc;}
.home .search-jobs-flyer ul.token-input-list{width:auto !important;border: 1px solid #ccc;height: 42px!important;}
.home .jumbotron p{font-size: 16px;}
.home li.token-input-token span{line-height: 26px;}
.home .search-jobs-flyer ul.token-input-list li input {
   height: 40px;
  margin-left: -48px;
  width: auto !important;
}
.home .search-jobs-flyer .form-control{
  height: 40px;
}

 .home .btn-jobsflyer{ background-color: #f2be35;
  border-color: #f2be35;
  color: #242424;
  font-size: 16px;
  margin-top: -22px;
  padding-bottom: 8px;
  padding-top: 8px;
}
.search-jobs-flyer  ul.token-input-list li input{width:auto !important;  height: 32px ;}
.search-jobs-flyer  input[name=query]:focus[name=query]:focus {border: 1px solid #f2be35 ;}
.search-jobs-flyer  .li.token-input-token{padding: 4px 5px ;}
.search-jobs-flyer  li.token-input-token {
  background-color: #fff;
  color: #555;
  font-weight:  normal;
  height: auto !important;
  font-family: open sans;
  padding: 4px 5px;
}
.search-jobs-flyer  li.token-input-token:focus{border: 1px solid #f2be35;}
.btn-jobsflyer-color{  background-color: #f2be35;
  border-color: #f2be35;}
.jobs .search-jobs-flyer .input-group {
  width: 245px !important;
}
.page-footer{
  bottom: 0;
  padding-bottom: 20px;
  position:  fixed;
  padding-top: 20px;
  background:#241e20;
  color: #fff;
  width: 100%;}
.cus-location ul{width:216px;border: 1px solid #ccc;}
.cus-location ul li:first-child{height: 32px;}
.filtered-companies-widget{
  .dropdown.pull-right{position: relative;  background-color: rgba(255, 255, 255, .9);}
  .dropdown.pull-right.show-edit-options {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 100;


    .fa-cog{
      color: #666;
    }
    .dropdown :hover, :focus, :active {background: none;}
  }
}

.widget-login-logo{
  margin-bottom: 25px;
  margin-top: 50px;
 }
.close-custom{ color: #999;
  font-size: 11px;
  font-weight: lighter;}
.comments-index{ list-style: outside none none;
  padding-left: 0;}
.post-comments > li > ul >  li {
  border-top:  none;
  border-bottom: 1px solid #e7e7e7;
  list-style: outside none none;
  padding: 10px;

}
.post-comments > li > ul >  li:last-child{ border-bottom: none;}
 .new-li{background:#F3F3F3; }
.new-li > li{padding: 0;}
.new-li > .form-comment{padding: 10px;margin-bottom: 10px;}
.delete-comment i,.editing-comment i{color: #666;margin-left: 3px;
  font-size: 15px;
  line-height: 26px;}

.counts{margin-left: 5px;}
.feature-img{margin-bottom: 20px;}
.feature-img .form-control{cursor:  pointer;}
#uploaded-post-image{overflow: hidden;width: 100%;height: auto;}
ul.token-input-list-facebook{border-radius: 2px;height: 35px; border: 1px solid #ccc !important;padding: 3px;}

.comments-index li .comment-body .pull-right span{display: none;}
.comments-index li :hover .pull-right span{display: block;}
.comments-index li :hover .pull-right span a:hover{ text-decoration: none;}
.footer-list{list-style: none;}
.footer-list li{color: #666;}
.footer-list li a{ color: #f2be35;}
.footer-list li{display: inline;}
.free-margin{margin-top: 0px;background: #fff;padding: 15px;}
.profiles #content .row div.col-lg-8{border-radius: 0px  0}

.my-status{
  border-radius: 6px;
  color: inherit;
  font-size: 13px;
  padding: 2px 6px 6px;
  background:  #241e20;
  }
.profile-edit-show{
  background: #E5AD17 none repeat scroll 0 0;
  color: #fff;
  font-size: 14px;
  padding: 0 3px 0 4px;}
.filtered-companies-widget .widget{padding: 5px;}
.white-space{background: #fff;}
.my-bar{margin-right: -15px !important;}
.top-margin-space{margin-top: -45px;}
.send-msg{margin: 10px 0;}
.our-location-page-map{
  height: 350px;
  width: auto;
}
.text-ember{margin-bottom: -3px;}
.text-ember span{color: #f2be35}
.company-widget{height: 216px;}
.name-of-company{color: #2D0C00; font-weight: 400;}
.filtered-companies-widget .setting-company{  line-height: 24px;
  margin-right: 2px;
  padding: 2px 7px 0 6px;}
.filtered-companies-widget .setting-company:hover,.filtered-companies-widget .setting-company:focus{background: none;color: #000;}
.setting-com-list{   padding-bottom: 1px;
  padding-top: 1px;}
.setting-com-list li a{background: rgba(255, 255, 255, .6);}
#edit_profile_5 ul.token-input-list {
   border: 1px solid #ccc;
   height:31px !important;
   width: 348px;

}
#edit_profile_5 li.token-input-token{background: #fff;font-weight: normal;color: #555;}