<div class="col-md-8">
  <section class="widget">
    <header>
      <h4>Search matched <span class="fw-semi-bold">Resumes</span></h4>
      <div class="widget-controls">
        <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
        <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
        <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
      </div>
    </header>
    <div class="widget-body">

      <div class="mt">
        <table id="datatable-table" class="table table-striped table-hover">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th class="no-sort hidden-xs">Info</th>
            <th class="hidden-xs">Description</th>
            <th class="hidden-xs">Date</th>
            <th class="no-sort">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td><span class="fw-semi-bold">Algerd</span></td>
            <td class="hidden-xs">
              <small>
                <span class="fw-semi-bold">Type:</span>
                &nbsp; JPEG
              </small>
              <br>
              <small>
                <span class="fw-semi-bold">Dimensions:</span>
                &nbsp; 200x150
              </small>
            </td>
            <td class="hidden-xs"><a href="#">Palo Alto</a></td>
            <td class="hidden-xs">June 27, 2013</td>
            <td class="width-150">
              <div class="progress progress-sm mt-xs">
                <div class="progress-bar progress-bar-success" style="width: 29%;"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>15</td>
            <td><span class="fw-semi-bold">Tomas</span></td>
            <td class="hidden-xs">
              <small>
                <span class="fw-semi-bold">Type:</span>
                &nbsp; JPEG
              </small>
              <br>
              <small>
                <span class="fw-semi-bold">Dimensions:</span>
                &nbsp; 1800x1420
              </small>
            </td>
            <td class="hidden-xs"><a href="#">Amsterdam</a></td>
            <td class="hidden-xs">November 13, 2012</td>
            <td class="width-150">
              <div class="progress progress-sm mt-xs">
                <div class="progress-bar progress-bar-gray-light" style="width: 10%;"></div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>