<div class="row">
  <div class="resume-search-results">
    <%= render partial: 'resume_search/searched_resumes' %>
  </div>
  <div class="resume-search-filter">
    <%= render partial: 'resume_search/search_form' %>
  </div>
</div>

<script>
    $(document).ready(function () {
        $('#user_skills').tokenInput('/dashboard/skills.json', {crossDomain: false, hintText: 'User skill search'});

        $('#search-for-resume-form-btn').click(function(){
            var names = [];
            $('.token-input-list').find('li p').each(function(){
//                names.push($(this).html());
                names.push($(this).text());//possibly better
            });
//            alert("Names are: " + names.join());
            $.ajax({
                type: 'GET',
                url: '<%= resume_search_results_path %>',
                data: {skills: names.join()}
            });
        });
    });
</script>